body{
    background: radial-gradient(rgb(174, 216, 255), rgb(45, 115, 219));
}
h1{
    padding: 30px;
    text-align: center;
}
ul{
    text-align: center;
    list-style: none;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

