body{
    background: radial-gradient(rgb(174, 216, 255), rgb(45, 115, 219));
}
div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    height: 40px;
    width: 90px;
    border: 1px solid black;
    background-color: rgb(167, 202, 255);
    cursor: pointer;
}
h1{
    text-align: center;
}